body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 198, 89);
}

.navigation {
    text-align: center;
    list-style: none;
    /* margin-left: -30px; */
    padding: 0; /* eliminates slight margin/padding from list  */
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align: center;
}

.title.heading {
    font-weight: lighter;
}

.recImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}